<% if can? :create, Message %>
  <%= link_to "Nuevo mensaje", new_chat_message_path(@chat), class: "btn btn-primary mb-3" %>
<% end %>

<ul>
  <% @messages.each do |msg| %>
    <li>
      <strong><%= msg.user.email %>:</strong>
      <%= simple_format msg.body %>

      <% if can? :edit, msg %>
        | <%= link_to "Editar", edit_chat_message_path(@chat, msg) %>
      <% end %>
      <% if can? :destroy, msg %>
        | <%= link_to "Eliminar",
                      chat_message_path(@chat, msg),
                      method: :delete,
                      data: { confirm: "¿Seguro?" } %>
      <% end %>
    </li>
  <% end %>
</ul>