<h1>Mensaje #<%= @message.id %></h1>

<p><strong>Chat:</strong>
   <%= link_to @message.chat_id, chat_path(@message.chat) %></p>

<p><strong>Usuario:</strong>
   <%= link_to @message.user.email, user_path(@message.user) %></p>

<p><strong>Contenido:</strong> <%= @message.body %></p>

<%= link_to "Editar mensaje", edit_message_path(@message) %> |
<%= link_to "Volver al listado", messages_path %>
