<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :first_name, "Nombre" %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name, "Apellido" %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
  </p>

  <%= f.submit "Guardar" %>
<% end %>
