<h1>Chat ##<%= @chat.id %></h1>
<p>De: <%= @chat.sender.email %></p>
<p>A:  <%= @chat.receiver.email %></p>

<h2>Mensajes</h2>
<ul>
  <% @messages.each do |msg| %>
    <li><strong><%= msg.user.email %>:</strong> <%= msg.body %></li>
  <% end %>
</ul>

<%= link_to "Enviar mensaje", new_message_path(chat_id: @chat.id) %><br>
<%= link_to "â† Volver", chats_path %>
